COMPOSE_PROJECT_NAME=newsintel
PLATFORM_ENV=production
PLATFORM_NAME=News Intelligence Platform
NGINX_HTTP_PORT=8088

DJANGO_SECRET_KEY=change-me-before-production
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,nginx,backend
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8088,http://127.0.0.1:8088
DJANGO_LOG_LEVEL=INFO
DJANGO_SECURE_SSL_REDIRECT=0
DJANGO_SESSION_COOKIE_SECURE=0
DJANGO_CSRF_COOKIE_SECURE=0
GUNICORN_WORKERS=3

POSTGRES_DB=newsintel
POSTGRES_USER=newsintel
POSTGRES_PASSWORD=change-me-postgres-password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/2

OPENSEARCH_CLUSTER_NAME=newsintel-cluster
OPENSEARCH_URL=http://opensearch:9200
OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m

NEO4J_URI=bolt://neo4j:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=change-me-neo4j-password

MINIO_ENDPOINT=http://minio:9000
MINIO_ROOT_USER=newsintel
MINIO_ROOT_PASSWORD=change-me-minio-password
MINIO_ACCESS_KEY=newsintel
MINIO_SECRET_KEY=change-me-minio-password
MINIO_RAW_BUCKET=newsintel-raw

NEWSAPI_KEY=
GNEWS_KEY=
GROQ_API_KEY=

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me-grafana-password

NEXT_PUBLIC_PLATFORM_NAME=News Intelligence Platform
NEXT_PUBLIC_API_BASE_PATH=/api/v1
BACKEND_INTERNAL_BASE_URL=http://backend:8000
NEXT_TELEMETRY_DISABLED=1
